.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper:before,
.wrapper:after {
  content: " ";
  display: table;
}

.wrapper:after {
  clear: both;
}

.layout-boxed .wrapper {
  max-width: 1250px;
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  position: relative;
}

.layout-boxed {
  background: url('/images/layout/boxed-bg.jpg') repeat fixed;
}

.content-wrapper,
.right-side,
.main-footer {
  -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -webkit-transition: margin 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  margin-left: 250px;
  z-index: 820;
}

.layout-top-nav .content-wrapper,
.layout-top-nav .right-side,
.layout-top-nav .main-footer {
  margin-left: 0;
}

@media (max-width: 767px) {
  .content-wrapper,
  .right-side,
  .main-footer {
    margin-left: 0 !important;
  }
}

@media (min-width: 768px) {
  .sidebar-collapse .content-wrapper,
  .sidebar-collapse .right-side,
  .sidebar-collapse .main-footer {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .sidebar-open .content-wrapper,
  .sidebar-open .right-side,
  .sidebar-open .main-footer {
    -webkit-transform: translate(250px, 0);
    transform: translate(250px, 0);
  }
}

.content-wrapper,
.right-side {
  min-height: 100%;
  z-index: 800;
  background-color: #f1f3f6;
}

.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
}


/*--- Fixed layout ---*/

.fixed .main-header,
.fixed .main-sidebar,
.fixed .left-side {
  position: fixed;
}

.fixed .main-header {
  top: 0;
  right: 0;
  left: 0;
}

.fixed .content-wrapper,
.fixed .right-side {
  padding-top: 60px;
}

@media (max-width: 767px) {
  .fixed .content-wrapper,
  .fixed .right-side {
    padding-top: 120px;
  }
}

.fixed.layout-boxed .wrapper {
  max-width: 100%;
}

body.hold-transition .content-wrapper,
body.hold-transition .right-side,
body.hold-transition .main-footer,
body.hold-transition .main-sidebar,
body.hold-transition .left-side,
body.hold-transition .main-header .navbar,
body.hold-transition .main-header .logo {
  /* Fix for IE */
  -webkit-transition: none;
  transition: none;
}