.lock-wrapper-page {
  margin: 7.5% auto;
  width: 360px;
  padding: 15px;
}

.logo-lock {
  font-size: 50px;
  font-weight: 600;
  font-family: $font2, sans-serif;
}

.user-thumb img {
  height: 88px;
  margin: 0px auto;
  width: 88px;
}

.lock-wrapper-page .form-control {
  padding-left: 40px;
  border: 1px solid #37a000;
}

.lock-wrapper-page .fa-key {
  left: 15px !important;
  top: 10px;
  font-size: 15px;
  position: absolute;
  z-index: 99;
}

@media (max-width: 767px) {
  .lock-wrapper-page {
    margin: 15% auto;
    width: 320px;
  }
}