.login-widget .panel-body .input-group {
  margin-bottom: 15px;
}

.login-widget .panel-footer {
  padding: 0px;
  border: none;
}

.login-widget .panel-footer .login-btn {
  padding: 20px 20px 10px 20px;
}

.login-widget .panel-footer .facebook {
  background-color: #3b5998;
  color: #fff;
  padding: 15px;
  display: block;
}