#map1 {
  position: relative;
  width: 100%;
  height: 320px;
}

#map2 {
  position: relative;
  width: 100%;
  height: 350px;
}

#map3 {
  position: relative;
  width: 100%;
  height: 350px;
}

#map4 {
  position: relative;
  width: 100%;
  height: 350px;
}

#map5 {
  position: relative;
  width: 100%;
  height: 350px;
}

#map6 {
  position: relative;
  width: 100%;
  height: 350px;
}

#map7 {
  position: relative;
  width: 100%;
  height: 350px;
}

#map8 {
  position: relative;
  width: 100%;
  height: 580px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}