pre {
  background-color: #2c3136;
  color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  font-size: 14px;
  overflow: hidden;
  border: 1px solid #2c3136
}

pre .str {
  color: #e6db74;
}

pre .func {
  color: #66d9ef;
}

pre .val {
  color: #a381ff;
}

pre .tag {
  color: #e92772;
}

pre .attr {
  color: #a6e22d;
}

pre .arg {
  color: #fd9720;
}